Package: com.yourname.faceid2d
Name: FaceID2D
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: 2D Face Recognition Unlock for iOS 15-16
Maintainer: nkhanh
Author: nkhanh
Section: Tweaks
